In [1]:
import pandas as pd
dataset = pd.read_csv('final.csv')

In [2]:
dataset['order_date'] = pd.to_datetime(dataset['order_date'])

In [ ]:
dataset.head(5)

,order_id,order_date,product_id,our_price,mrp,ship_postal_code,quantity,free_item,revenue,City,State,month_year,name,ean_code,hsn_code,our_price_log_zscore_capped,mrp_log_zscore_capped,quantity_log_zscore_capped,revenue_log_zscore_capped
0,6267852,2019-07-01,98798,186,265,635126,1,0,186,Krishnagiri,Tamilnadu,2019-07,Biotique Bio Bhringraj Therapeutic Oil For Fal...,8906009459554,30039011,186,265,1,186
1,6267857,2019-07-01,152858,194,215,413504,1,0,194,Dharashiv,Maharashtra,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910,194,215,1,194
2,6267869,2019-07-01,160170,0,399,495445,1,1,0,Bilaspur,Chattisgarh,2019-07,Stay Quirky Lipstick Soft Matte Minis|12 in 1|...,PPLP1214SQBML1,33041000,0,399,1,0
3,6267870,2019-07-01,142756,40,80,452010,5,0,200,Indore City,Madhya Pradesh,2019-07,NY Bae Matte Nail Enamel - Veggies On Rice 6 (...,NYBMNL06,33049920,40,80,4,200
4,6267870,2019-07-01,142761,30,60,411015,5,0,150,Pune City East,Maharashtra,2019-07,NY Bae Creme Nail Enamel - Hot Dog 1 (6 ml) | ...,NYBCNL01,33049920,30,60,4,150
5,6267871,2019-07-01,152858,108,215,208001,1,0,108,Kanpur HO,Uttar Pradesh,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910,108,215,1,108
6,6267872,2019-07-01,150118,107,165,635109,1,0,107,Krishnagiri,Tamilnadu,2019-07,Stay Quirky Daily Wear Liquid Foundation For F...,SQLF0001,33049990,107,165,1,107
7,6267873,2019-07-01,171828,113,225,683513,1,0,113,Alwaye,Kerala,2019-07,Good Vibes Vitamin C & B3 Skin Glow Face Serum...,8904362502719,33049990,113,225,1,113
8,6267875,2019-07-01,152858,151,215,795004,1,0,151,Manipur,North Eastern,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910,151,215,1,151
9,6267880,2019-07-01,150118,0,165,273001,1,1,0,Gorakhpur,Uttar Pradesh,2019-07,Stay Quirky Daily Wear Liquid Foundation For F...,SQLF0001,33049990,0,165,1,0
10,6267881,2019-07-01,98802,46,65,410206,1,0,46,Navi Mumbai,Maharashtra,2019-07,Biotique Bio Honey Gel Refreshing Foaming Face...,8904352000225,30039011,46,65,1,46
11,6267884,2019-07-01,171145,131,175,221005,1,0,131,Varanasi East,Uttar Pradesh,2019-07,"NY Bae Argan Oil Infused Matte Lipstick, Runwa...",PPLP1214NYBRAL19,33041000,131,175,1,131
12,6267889,2019-07-01,152858,151,215,679584,1,0,151,Tirur,Kerala,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910,151,215,1,151
13,6267890,2019-07-01,171830,113,225,560005,1,0,113,Bengaluru East,Karnataka,2019-07,Good Vibes Vitamin C & E Age Defying Face Seru...,8904362502740,33049990,113,225,1,113
14,6267890,2019-07-01,171828,113,225,682508,2,0,226,Ernakulam,Kerala,2019-07,Good Vibes Vitamin C & B3 Skin Glow Face Serum...,8904362502719,33049990,113,225,2,226
15,6267890,2019-07-01,152858,108,215,380055,2,0,216,Ahmedabad City,Gujarat,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910,108,215,2,216
16,6267893,2019-07-01,152858,151,215,506001,1,0,151,Hanamkonda,Telangana,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910,151,215,1,151
17,6267896,2019-07-01,145982,74,99,380051,1,0,74,Ahmedabad City,Gujarat,2019-07,Everyuth Naturals Chocolate and Cherry Tan Rem...,8901548147368,33049990,74,99,1,74
18,6267896,2019-07-01,8224,139,199,110018,1,0,139,New Delhi West,Delhi,2019-07,"Biotique Bio Fruit Whitening, Depigmentation &...",8904352001789,30039011,139,199,1,139
19,6267898,2019-07-01,150118,107,165,208011,1,0,107,Kanpur City,Uttar Pradesh,2019-07,Stay Quirky Daily Wear Liquid Foundation For F...,SQLF0001,33049990,107,165,1,107
20,6267902,2019-07-01,124196,94,125,242220,1,0,94,Shahjahanpur,Uttar Pradesh,2019-07,Stay Quirky Kajal Black BadAss| Long Lasting| ...,SQKABA01,33042000,94,125,1,94
21,6267908,2019-07-01,171828,113,225,796901,1,0,113,Mizoram,North Eastern,2019-07,Good Vibes Vitamin C & B3 Skin Glow Face Serum...,8904362502719,33049990,113,225,1,113
22,6267908,2019-07-01,171829,113,225,795001,1,0,113,Manipur,North Eastern,2019-07,Good Vibes Tea Tree & Papaya Oil Control Serum...,8904362500203,33049990,113,225,1,113
23,6267908,2019-07-01,152858,108,215,400610,1,0,108,Thane,Maharashtra,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910,108,215,1,108
24,6267918,2019-07-01,170892,125,249,211002,1,0,125,Prayagraj,Uttar Pradesh,2019-07,Good Vibes Activated Charcoal Peel Off Mask | ...,8904362508506,33049910,125,249,1,125
25,6267918,2019-07-01,171828,113,225,722122,1,0,113,Bankura,West Bengal,2019-07,Good Vibes Vitamin C & B3 Skin Glow Face Serum...,8904362502719,33049990,113,225,1,113
26,6267918,2019-07-01,177472,200,399,689641,1,0,200,Pathanamthitta,Kerala,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500012,33049910,200,399,1,200
27,6267924,2019-07-01,131320,158,225,500094,1,0,158,Secunderabad,Telangana,2019-07,Good Vibes Coconut Brightening Face Cream | Mo...,8904362502993,33049910,158,225,1,158
28,6267925,2019-07-01,124196,0,125,226003,2,1,0,Lucknow,Uttar Pradesh,2019-07,Stay Quirky Kajal Black BadAss| Long Lasting| ...,SQKABA01,33042000,0,125,2,0
29,6267927,2019-07-01,152858,151,215,208011,1,0,151,Kanpur City,Uttar Pradesh,2019-07,Good Vibes Rosehip Radiant Glow Face Serum | L...,8904362500005,33049910,151,215,1,151

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11256508 entries, 0 to 11256507
Data columns (total 19 columns):
 #   Column                       Dtype
---  ------                       -----
 0   order_id                     int64
 1   order_date                   datetime64[ns]
 2   product_id                   int64
 3   our_price                    int64
 4   mrp                          int64
 5   ship_postal_code             int64
 6   quantity                     int64
 7   free_item                    int64
 8   revenue                      int64
 9   City                         object
 10  State                        object
 11  month_year                   object
 12  name                         object
 13  ean_code                     object
 14  hsn_code                     int64
 15  our_price_log_zscore_capped  int64
 16  mrp_log_zscore_capped        int64
 17  quantity_log_zscore_capped   int64
 18  revenue_log_zscore_capped    int64
dtypes: datetime64[ns](1), int64(13), object(5)
memory usage: 1.6+ GB

**Data Preparation**

Select relevant columns for time series analysis.

In [5]:
time_series_cols = ['product_id', 'order_date', 'ean_code', 'our_price', 'mrp', 'quantity', 'revenue', 'free_item']
ts_df = dataset[time_series_cols].copy()

ts_df['order_date'] = pd.to_datetime(ts_df['order_date'])

In [6]:
ts_df.head(10)

,product_id,order_date,ean_code,our_price,mrp,quantity,revenue,free_item
0,98798,2019-07-01,8906009459554,186,265,1,186,0
1,152858,2019-07-01,8904362500005,194,215,1,194,0
2,160170,2019-07-01,PPLP1214SQBML1,0,399,1,0,1
3,142756,2019-07-01,NYBMNL06,40,80,5,200,0
4,142761,2019-07-01,NYBCNL01,30,60,5,150,0
5,152858,2019-07-01,8904362500005,108,215,1,108,0
6,150118,2019-07-01,SQLF0001,107,165,1,107,0
7,171828,2019-07-01,8904362502719,113,225,1,113,0
8,152858,2019-07-01,8904362500005,151,215,1,151,0
9,150118,2019-07-01,SQLF0001,0,165,1,0,1

Aggregate data by product and date.

In [7]:
ts_df = ts_df.reset_index()

agg_funcs = {
    'ean_code': 'first',
    'our_price': 'first',
    'mrp': 'first',
    'quantity': 'sum',
    'revenue': 'sum'
}

ts_df = ts_df.groupby(['product_id', 'order_date'], as_index=False).agg(agg_funcs)

Reindex to ensure all products have entries for all dates.

In [8]:
ts_df.set_index(['product_id', 'order_date'], inplace=True)

all_dates = pd.date_range(ts_df.index.get_level_values('order_date').min(),
                          ts_df.index.get_level_values('order_date').max(),
                          freq='D')
all_products = ts_df.index.get_level_values('product_id').unique()

multi_index = pd.MultiIndex.from_product([all_products, all_dates], names=['product_id', 'order_date'])

ts_df = ts_df.reindex(multi_index).reset_index()

In [9]:
ts_df.head(30)

    product_id order_date       ean_code  our_price    mrp  quantity  revenue
0         3927 2019-07-01  8901030289354      234.0  260.0       4.0    936.0
1         3927 2019-07-02  8901030289354      234.0  260.0       4.0    936.0
2         3927 2019-07-03            NaN        NaN    NaN       NaN      NaN
3         3927 2019-07-04  8901030289354      234.0  260.0       2.0    468.0
4         3927 2019-07-05  8901030289354      234.0  260.0       2.0    468.0
5         3927 2019-07-06  8901030289354      234.0  260.0       1.0    234.0
6         3927 2019-07-07            NaN        NaN    NaN       NaN      NaN
7         3927 2019-07-08  8901030289354      234.0  260.0       2.0    468.0
8         3927 2019-07-09  8901030289354      234.0  260.0       3.0    702.0
9         3927 2019-07-10  8901030289354      260.0  260.0       4.0   1040.0
10        3927 2019-07-11  8901030289354      260.0  260.0       2.0    520.0
11        3927 2019-07-12  8901030289354      221.0  260.0       3.0    663.0
12        3927 2019-07-13  8901030289354      221.0  260.0       1.0    221.0
13        3927 2019-07-14  8901030289354      221.0  260.0       2.0    481.0
14        3927 2019-07-15  8901030289354      221.0  260.0       7.0   1547.0
15        3927 2019-07-16            NaN        NaN    NaN       NaN      NaN
16        3927 2019-07-17  8901030289354      221.0  260.0       5.0   1105.0
17        3927 2019-07-18  8901030289354      221.0  260.0       5.0   1105.0
18        3927 2019-07-19  8901030289354      221.0  260.0       6.0   1326.0
19        3927 2019-07-20  8901030289354      221.0  260.0       4.0    884.0
20        3927 2019-07-21  8901030289354      221.0  260.0       8.0   1768.0
21        3927 2019-07-22  8901030289354      221.0  260.0       7.0   1547.0
22        3927 2019-07-23  8901030289354      221.0  260.0       2.0    442.0
23        3927 2019-07-24  8901030289354      221.0  260.0       5.0   1105.0
24        3927 2019-07-25  8901030289354      221.0  260.0       4.0    884.0
25        3927 2019-07-26  8901030289354      221.0  260.0       7.0   1547.0
26        3927 2019-07-27  8901030289354      221.0  260.0       4.0    884.0
27        3927 2019-07-28  8901030289354      221.0  260.0       4.0    884.0
28        3927 2019-07-29  8901030289354      260.0  260.0       5.0   1248.0
29        3927 2019-07-30  8901030289354      247.0  260.0       1.0    247.0

**Imputation & Feature Engineering**

Impute July 2022 data using July 2021 and growth factor.

Forward/backward fill price columns; fill missing quantity/revenue with zero.

In [10]:
import pandas as pd
import numpy as np

numeric_cols = [ 'our_price', 'mrp', 'quantity', 'revenue']

price_cols = ['our_price', 'mrp', 'ean_code']
zero_fill_cols = ['quantity', 'revenue']

ts_df['order_date'] = pd.to_datetime(ts_df['order_date'])
ts_df['year'] = ts_df['order_date'].dt.year
ts_df['month'] = ts_df['order_date'].dt.month

monthly_qty = ts_df.groupby(['year', 'month'])['quantity'].sum().unstack(level=0)

prev_year_sum = monthly_qty.loc[range(1,7), 2021].sum()
this_year_sum = monthly_qty.loc[range(1,7), 2022].sum()
growth_factor = (this_year_sum / prev_year_sum) if prev_year_sum > 0 else 1.0

print(f"growth factor: {growth_factor:.4f}")

july_2022 = ts_df[(ts_df['year'] == 2022) & (ts_df['month'] == 7)].copy()
july_2021 = ts_df[(ts_df['year'] == 2021) & (ts_df['month'] == 7)].copy()

july_2021_lookup = july_2021[['product_id', 'order_date'] + numeric_cols].copy()
july_2021_lookup['order_date'] = july_2021_lookup['order_date'] + pd.DateOffset(years=1)
july_2021_lookup = july_2021_lookup.rename(columns={col: f'{col}_prev' for col in numeric_cols})

merged = july_2022.merge(july_2021_lookup, on=['product_id', 'order_date'], how='left')

for col in numeric_cols:
    if col == 'quantity' or col == 'revenue':
        scaled_prev = merged[f'{col}_prev'] * growth_factor
        merged[col] = merged[col].fillna(scaled_prev)
    else:
        merged[col] = merged[col].fillna(merged[f'{col}_prev'])


merged.drop(columns=[f'{col}_prev' for col in numeric_cols], inplace=True)

merged[price_cols] = merged.groupby('product_id')[price_cols].transform(lambda g: g.ffill().bfill())
merged[zero_fill_cols] = merged[zero_fill_cols].fillna(0)

mask_july_2022 = (ts_df['year'] == 2022) & (ts_df['month'] == 7)
ts_df.loc[mask_july_2022, numeric_cols] = merged[numeric_cols].values

ts_df[price_cols] = ts_df.groupby('product_id')[price_cols].transform(lambda g: g.ffill().bfill())
ts_df[zero_fill_cols] = ts_df[zero_fill_cols].fillna(0)

ts_df.reset_index(drop=True, inplace=True)

growth factor: 1.1631

C:\Users\hp\AppData\Local\Temp\ipykernel_22192\1429122395.py:40: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged[price_cols] = merged.groupby('product_id')[price_cols].transform(lambda g: g.ffill().bfill())

In [11]:
july_2022_imputed = ts_df[(ts_df['order_date'].dt.year == 2022) & (ts_df['order_date'].dt.month == 7)]
columns_to_show = ['product_id', 'order_date'] + numeric_cols
july_2022_imputed[columns_to_show].head(50)

      product_id order_date  our_price    mrp     quantity       revenue
1096        3927 2022-07-01      234.0  260.0     0.000000      0.000000
1097        3927 2022-07-02      234.0  260.0     0.000000      0.000000
1098        3927 2022-07-03      234.0  260.0     0.000000      0.000000
1099        3927 2022-07-04      234.0  260.0     0.000000      0.000000
1100        3927 2022-07-05      234.0  260.0     0.000000      0.000000
1101        3927 2022-07-06      234.0  260.0     0.000000      0.000000
1102        3927 2022-07-07      234.0  260.0     0.000000      0.000000
1103        3927 2022-07-08      234.0  260.0     0.000000      0.000000
1104        3927 2022-07-09      234.0  260.0     0.000000      0.000000
1105        3927 2022-07-10      234.0  260.0     0.000000      0.000000
1106        3927 2022-07-11      234.0  260.0     0.000000      0.000000
1107        3927 2022-07-12      234.0  260.0     0.000000      0.000000
1108        3927 2022-07-13      234.0  260.0     0.000000      0.000000
1109        3927 2022-07-14      234.0  260.0     0.000000      0.000000
1110        3927 2022-07-15      234.0  260.0     0.000000      0.000000
1111        3927 2022-07-16      234.0  260.0     0.000000      0.000000
1112        3927 2022-07-17      234.0  260.0     0.000000      0.000000
1113        3927 2022-07-18      234.0  260.0     0.000000      0.000000
1114        3927 2022-07-19      234.0  260.0     0.000000      0.000000
1115        3927 2022-07-20      234.0  260.0     0.000000      0.000000
1116        3927 2022-07-21      234.0  260.0     0.000000      0.000000
1117        3927 2022-07-22      234.0  260.0     0.000000      0.000000
1118        3927 2022-07-23      234.0  260.0     0.000000      0.000000
1119        3927 2022-07-24      234.0  260.0     0.000000      0.000000
1120        3927 2022-07-25      234.0  260.0     0.000000      0.000000
1121        3927 2022-07-26      234.0  260.0     0.000000      0.000000
1122        3927 2022-07-27      234.0  260.0     0.000000      0.000000
1123        3927 2022-07-28      234.0  260.0     5.815744   1360.884055
1124        3927 2022-07-29      234.0  260.0     6.978893   1633.060866
1125        3927 2022-07-30      247.0  260.0     6.978893   1723.786470
1126        3927 2022-07-31      247.0  260.0     4.652595   1149.190980
2284        4521 2022-07-01       89.0   99.0    29.000000   2467.000000
2285        4521 2022-07-02       99.0   99.0   680.442028  45615.205124
2286        4521 2022-07-03       99.0   99.0   293.113489  19859.602016
2287        4521 2022-07-04       64.0   99.0   105.846538   7733.776140
2288        4521 2022-07-05       99.0   99.0   194.245844  13717.013388
2289        4521 2022-07-06       99.0   99.0   146.556744  10478.807225
2290        4521 2022-07-07       66.0   99.0   631.589779  42071.090836
2291        4521 2022-07-08       64.0   99.0  1114.296517  73179.504560
2292        4521 2022-07-09       64.0   99.0  1182.922294  76923.680435
2293        4521 2022-07-10       64.0   99.0   778.146524  50845.885120
2294        4521 2022-07-11       64.0   99.0   735.110020  48430.025135
2295        4521 2022-07-12       66.0   99.0   604.837358  40397.319763
2296        4521 2022-07-13       66.0   99.0   761.862441  50325.957622
2297        4521 2022-07-14       66.0   99.0   909.582334  60053.370746
2298        4521 2022-07-15       64.0   99.0   195.408993  13600.698511
2299        4521 2022-07-16       69.0   99.0   336.149993  22482.502482
2300        4521 2022-07-17       64.0   99.0   262.871621  18120.694613
2301        4521 2022-07-18       66.0   99.0   193.082695  13913.585529
2302        4521 2022-07-19       69.0   99.0   193.082695  13085.423608

In [12]:
ts_df['month_year'] = ts_df['order_date'].dt.to_period('M')

In [13]:
ts_df['discount'] = np.where(
    ts_df['mrp'] > 0,
    (ts_df['mrp'] - ts_df['our_price']) / ts_df['mrp'] * 100,
    0
).round()

In [14]:
ts_df.describe()

,product_id,order_date,our_price,mrp,quantity,revenue,year,month,discount
count,942084.000000,942084,942084.000000,942084.000000,942084.000000,9.420840e+05,942084.000000,942084.000000,942084.000000
mean,200179.764187,2021-02-13 12:00:00.000000768,247.633695,307.182253,15.637032,2.673401e+03,2020.611953,6.635522,22.160037
min,3927.000000,2019-07-01 00:00:00,-14.000000,1.000000,0.000000,0.000000e+00,2019.000000,1.000000,0.000000
25%,170845.000000,2020-04-22 18:00:00,99.000000,129.000000,0.000000,0.000000e+00,2020.000000,4.000000,5.000000
50%,193487.000000,2021-02-13 12:00:00,169.000000,225.000000,0.000000,0.000000e+00,2021.000000,7.000000,20.000000
75%,248955.000000,2021-12-07 06:00:00,299.000000,350.000000,6.000000,1.013000e+03,2021.000000,9.000000,33.000000
max,314065.000000,2022-09-30 00:00:00,2715.000000,2715.000000,15225.000000,1.358787e+06,2022.000000,12.000000,123.000000
std,60625.254296,NaN,255.348370,293.664884,73.437124,1.078251e+04,1.003408,3.343570,20.079669

In [15]:
ts_df.tail(60)

,product_id,order_date,ean_code,our_price,mrp,quantity,revenue,year,month,month_year,discount
942024,314065,2022-08-02,8901138822477,169.0,235.0,0.0,0.0,2022,8,2022-08,28.0
942025,314065,2022-08-03,8901138822477,169.0,235.0,53.0,9071.0,2022,8,2022-08,28.0
942026,314065,2022-08-04,8901138822477,169.0,235.0,48.0,8435.0,2022,8,2022-08,28.0
942027,314065,2022-08-05,8901138822477,188.0,235.0,41.0,7176.0,2022,8,2022-08,20.0
942028,314065,2022-08-06,8901138822477,188.0,235.0,47.0,8228.0,2022,8,2022-08,20.0
942029,314065,2022-08-07,8901138822477,188.0,235.0,41.0,7252.0,2022,8,2022-08,20.0
942030,314065,2022-08-08,8901138822477,188.0,235.0,56.0,9901.0,2022,8,2022-08,20.0
942031,314065,2022-08-09,8901138822477,169.0,235.0,57.0,9899.0,2022,8,2022-08,28.0
942032,314065,2022-08-10,8901138822477,188.0,235.0,22.0,3908.0,2022,8,2022-08,20.0
942033,314065,2022-08-11,8901138822477,188.0,235.0,6.0,1109.0,2022,8,2022-08,20.0
942034,314065,2022-08-12,8901138822477,188.0,235.0,0.0,0.0,2022,8,2022-08,20.0
942035,314065,2022-08-13,8901138822477,188.0,235.0,0.0,0.0,2022,8,2022-08,20.0
942036,314065,2022-08-14,8901138822477,188.0,235.0,0.0,0.0,2022,8,2022-08,20.0
942037,314065,2022-08-15,8901138822477,188.0,235.0,0.0,0.0,2022,8,2022-08,20.0
942038,314065,2022-08-16,8901138822477,188.0,235.0,0.0,0.0,2022,8,2022-08,20.0
942039,314065,2022-08-17,8901138822477,188.0,235.0,1.0,188.0,2022,8,2022-08,20.0
942040,314065,2022-08-18,8901138822477,188.0,235.0,0.0,0.0,2022,8,2022-08,20.0
942041,314065,2022-08-19,8901138822477,188.0,235.0,0.0,0.0,2022,8,2022-08,20.0
942042,314065,2022-08-20,8901138822477,188.0,235.0,0.0,0.0,2022,8,2022-08,20.0
942043,314065,2022-08-21,8901138822477,188.0,235.0,0.0,0.0,2022,8,2022-08,20.0
942044,314065,2022-08-22,8901138822477,188.0,235.0,0.0,0.0,2022,8,2022-08,20.0
942045,314065,2022-08-23,8901138822477,235.0,235.0,2.0,470.0,2022,8,2022-08,0.0
942046,314065,2022-08-24,8901138822477,235.0,235.0,4.0,894.0,2022,8,2022-08,0.0
942047,314065,2022-08-25,8901138822477,212.0,235.0,6.0,1341.0,2022,8,2022-08,10.0
942048,314065,2022-08-26,8901138822477,235.0,235.0,3.0,705.0,2022,8,2022-08,0.0
942049,314065,2022-08-27,8901138822477,235.0,235.0,9.0,2000.0,2022,8,2022-08,0.0
942050,314065,2022-08-28,8901138822477,235.0,235.0,6.0,1410.0,2022,8,2022-08,0.0
942051,314065,2022-08-29,8901138822477,235.0,235.0,8.0,1880.0,2022,8,2022-08,0.0
942052,314065,2022-08-30,8901138822477,235.0,235.0,3.0,705.0,2022,8,2022-08,0.0
942053,314065,2022-08-31,8901138822477,235.0,235.0,6.0,1410.0,2022,8,2022-08,0.0
942054,314065,2022-09-01,8901138822477,188.0,235.0,28.0,5174.0,2022,9,2022-09,20.0
942055,314065,2022-09-02,8901138822477,179.0,235.0,34.0,5847.0,2022,9,2022-09,24.0
942056,314065,2022-09-03,8901138822477,158.0,235.0,208.0,33224.0,2022,9,2022-09,33.0
942057,314065,2022-09-04,8901138822477,158.0,235.0,158.0,25540.0,2022,9,2022-09,33.0
942058,314065,2022-09-05,8901138822477,158.0,235.0,200.0,32083.0,2022,9,2022-09,33.0
942059,314065,2022-09-06,8901138822477,176.0,235.0,169.0,27170.0,2022,9,2022-09,25.0
942060,314065,2022-09-07,8901138822477,176.0,235.0,191.0,30952.0,2022,9,2022-09,25.0
942061,314065,2022-09-08,8901138822477,176.0,235.0,20.0,3232.0,2022,9,2022-09,25.0
942062,314065,2022-09-09,8901138822477,176.0,235.0,89.0,14704.0,2022,9,2022-09,25.0
942063,314065,2022-09-10,8901138822477,188.0,235.0,26.0,4888.0,2022,9,2022-09,20.0
942064,314065,2022-09-11,8901138822477,188.0,235.0,29.0,5452.0,2022,9,2022-09,20.0
942065,314065,2022-09-12,8901138822477,188.0,235.0,18.0,3384.0,2022,9,2022-09,20.0
942066,314065,2022-09-13,8901138822477,188.0,235.0,21.0,3948.0,2022,9,2022-09,20.0
942067,314065,2022-09-14,8901138822477,188.0,235.0,37.0,6554.0,2022,9,2022-09,20.0
942068,314065,2022-09-15,8901138822477,158.0,235.0,274.0,44144.0,2022,9,2022-09,33.0
942069,314065,2022-09-16,8901138822477,158.0,235.0,143.0,23404.0,2022,9,2022-09,33.0
942070,314065,2022-09-17,8901138822477,158.0,235.0,192.0,30696.0,2022,9,2022-09,33.0
942071,314065,2022-09-18,8901138822477,176.0,235.0,8.0,1390.0,2022,9,2022-09,25.0
942072,314065,2022-09-19,8901138822477,158.0,235.0,32.0,5164.0,2022,9,2022-09,33.0
942073,314065,2022-09-20,8901138822477,158.0,235.0,81.0,12996.0,2022,9,2022-09,33.0
942074,314065,2022-09-21,8901138822477,158.0,235.0,150.0,24150.0,2022,9,2022-09,33.0
942075,314065,2022-09-22,8901138822477,158.0,235.0,102.0,16656.0,2022,9,2022-09,33.0
942076,314065,2022-09-23,8901138822477,176.0,235.0,132.0,20627.0,2022,9,2022-09,25.0
942077,314065,2022-09-24,8901138822477,159.0,235.0,68.0,10812.0,2022,9,2022-09,32.0
942078,314065,2022-09-25,8901138822477,159.0,235.0,81.0,12879.0,2022,9,2022-09,32.0
942079,314065,2022-09-26,8901138822477,159.0,235.0,58.0,9222.0,2022,9,2022-09,32.0
942080,314065,2022-09-27,8901138822477,159.0,235.0,119.0,18921.0,2022,9,2022-09,32.0
942081,314065,2022-09-28,8901138822477,159.0,235.0,75.0,12010.0,2022,9,2022-09,32.0
942082,314065,2022-09-29,8901138822477,158.0,235.0,73.0,11949.0,2022,9,2022-09,33.0
942083,314065,2022-09-30,8901138822477,158.0,235.0,74.0,12070.0,2022,9,2022-09,33.0

Identify top 10 EAN codes by total quantity.

In [16]:
top_ean_codes = ts_df.groupby('ean_code')['quantity'].sum().nlargest(10).index.tolist()

products_per_ean = {}

for ean in top_ean_codes:
    names = ts_df[ts_df['ean_code'] == ean]['product_id'].unique().tolist()
    products_per_ean[ean] = names

for ean, products in products_per_ean.items():
    print(f"EAN Code: {ean}")
    for p in products:
        print(f"  - {p}")
    print()

EAN Code: 8904362500005
  - 152858
  - 203483
  - 220930
  - 252399
  - 267303

EAN Code: 8904362502719
  - 171828
  - 213969
  - 225925
  - 233008
  - 294273

EAN Code: 8904352001642
  - 98857
  - 297075

EAN Code: 806360320204
  - 4521
  - 165202

EAN Code: PPLP1214AG3
  - 148566
  - 219115
  - 274479

EAN Code: 6902395722434
  - 182458
  - 283404
  - 298556

EAN Code: 8904362502993
  - 131320
  - 213941
  - 245026
  - 275485

EAN Code: NYBLE001
  - 140909
  - 224217
  - 238832
  - 272886

EAN Code: 8904362500012
  - 177472
  - 203484
  - 283698

EAN Code: 6902395722403
  - 182497
  - 298554

In [17]:
ts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 942084 entries, 0 to 942083
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   product_id  942084 non-null  int64
 1   order_date  942084 non-null  datetime64[ns]
 2   ean_code    942084 non-null  object
 3   our_price   942084 non-null  float64
 4   mrp         942084 non-null  float64
 5   quantity    942084 non-null  float64
 6   revenue     942084 non-null  float64
 7   year        942084 non-null  int32
 8   month       942084 non-null  int32
 9   month_year  942084 non-null  period[M]
 10  discount    942084 non-null  float64
dtypes: datetime64[ns](1), float64(5), int32(2), int64(1), object(1), period[M](1)
memory usage: 71.9+ MB

In [18]:
numeric_cols = ['our_price', 'mrp', 'quantity', 'revenue', 'product_id', 'discount']
ts_df[numeric_cols] = ts_df[numeric_cols].round().astype(int)

In [19]:
ts_df.to_csv('new_required_dataset.csv')